.gif{
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  width: 400px;
  background-position: center;
  text-align: center;
  margin: auto;
}

.gif h1{
  font-size:80px;
}

.gif h1{
  font-size:80px;
}

.text h1 {
  text-align: center;
  margin: auto;
}

.text p {
  text-align: center;
  margin: auto;
}
