
  <div class="container">
          <div class="gif">

          </div>

          <div class="text">

            <h1>404</h1>
            <h1>Look like you're lost</h1>
            <p>The page you are looking for not available!</p>

          </div>

  </div>

