<body xmlns:https="http://www.w3.org/1999/xhtml">

<div class="about-section">
  <h1>Who we are</h1>
  <p>We deliver services to your home.</p>
  <p>Trust us and you will be very satisfied.</p>
</div>

<img src="https://akfauniversity.org/wp-content/uploads/2020/11/our-team.jpg">

</body>
