<header>
  <nav>
    <ul>
      <li><a class="nav-link" routerLink="/home">Home</a></li>
      <li><a class="nav-link" routerLink="/register">Register</a></li>
      <li><a class="nav-link" routerLink="/login">Login</a></li>
      <li><a class="nav-link" routerLink="/about">About</a></li>
    </ul>
  </nav>
</header>



