<body>
<form [formGroup]="loginForm" (ngSubmit)="collectData()">

  <div class="container">
    <h2>Login</h2>

    <label for="uname"><b>Username</b></label>
    <input type="text" formControlName="username" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" formControlName="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

</form>

</body>
