
#form-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(80,80,80);
  padding: 7.5% 15% 7.5% 0;
  height: 40vh;
  text-align: center;
}

#form-section > section {
  display: inline;
  color: white;
}

.left-section {
  margin-top: 6.5%;
  margin-left: 17.5%;
  float: left;
  text-align: left;
  width: 46.6%;
}

.left-section > h1 {
  font-size: 3.2em;
  margin-bottom: 3%;
}

.right-section {
  float: right;
  width: 23.3%;
}

.right-section > h1 {
  font-size: 1.5em;
  padding: 10px 0;
}

.right-section >form > div {
  margin-bottom: 5px;
}

.right-section > form > div > input {
  height: 25px;
  width: 80%;
  padding-left: 10px;
}

.right-section >form > div > input[type=button] {
  width: 83.66%;
  background-color: rgb(86, 182, 139);
  box-shadow: 0 2px rgb(72, 125, 101);
  border: none;
}

#benefits {
  text-align: center;
  padding: 5% 12.5% 5% 18.5%;
}

#benefits > article {
  width: 25%;
  display: inline-block;
  margin-right: 7.5%;
  text-align: center;
}

#benefits > article > figure > img {
  height: 75px;
  width: 75px;
  object-fit: contain;
  padding-bottom: 2.5%;
}

.benefit-information-title > h2 {
  font-size: 1em;
  margin-bottom: 2.5%;
}

#benefits > h1 {
  margin-bottom: 0.25em;
}









