<footer>
  <section class="social-media">
    <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
  </section>
  <hr>
  <section id="copyright">
    <p>&copy; Copyright Sitename. All Rights Reserved.</p>
    <p>Powered by Codexio Engineering Survivor</p>
  </section>
</footer>


